@import "./tips.css";
@import "./locations.css";
@import "./quotes.css";
@import "./fishes.css";

body {
    font-family: 'Londrina Solid', cursive;
}

.bodyHeader {
    text-align: center;
    background-color: rgb(132, 184, 185);
}

.container {
    display: flex;
    padding: 1rem;
}

/* .bordered {
    border: 1px solid red;
} */

.bottom-space {
    margin-bottom: 3rem;
}

.flex-container-left {
    flex: 3;
}

html {
    background-color: cadetblue;
}
